package controller

import (
	"context"
	"errors"
	"net/http"

	"{{ .Project.Module }}/internal/{{ .Name.Snake }}"
	"{{ .Project.Module }}/internal/{{ .Name.Snake }}/service"
)

type Executor interface {
	Execute(context.Context, service.Request) (service.Response, error)
}

type Handler struct { executor Executor }

func NewHandler(executor Executor) *Handler { return &Handler{executor: executor} }

func (h *Handler) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	_, err := h.executor.Execute(r.Context(), service.Request{ID: r.PathValue("id")})
	if err != nil {
		if errors.Is(err, {{ .Name.Snake }}.ErrNotImplemented) {
			http.Error(w, "not implemented", http.StatusNotImplemented)
			return
		}
		http.Error(w, "request failed", http.StatusInternalServerError)
		return
	}
	w.WriteHeader(http.StatusNoContent)
}
