{{ .Marker }}
	// TODO: зарегистрируйте {{ .Name.Pascal }}Consumer в блоке rabbit mode выше:
	//   consumer, err := rabbit.NewConsumer(cfg.Rabbit.Build(), logger, queue,
	//       rabbitapi.New{{ .Name.Pascal }}Consumer(logger), rabbit.WithMiddlewares(consumerMWs...))
	//   a.rabbitConsumers = append(a.rabbitConsumers, consumer)
