{{ .Marker }}
	// TODO: register {{ .Name.Pascal }}Consumer in the rabbit mode block above:
	//   consumer, err := rabbit.NewConsumer(cfg.Rabbit.Build(), logger, queue,
	//       rabbitapi.New{{ .Name.Pascal }}Consumer(logger), rabbit.WithMiddlewares(consumerMWs...))
	//   a.rabbitConsumers = append(a.rabbitConsumers, consumer)
